# Secretos / entorno
.env
*.env.local

# .NET
**/bin/
**/obj/
**/*.user

# Node / Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDE / SO
.vs/
.idea/
Thumbs.db
.DS_Store

# Carpetas de lecciones locales (PDFs)
frontend/lessons-files/
frontend/public/lessons-files/
